{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/chlist.css" %}" />
{% endblock %}

{% block title %}{% trans "Quick Settings" %} {{ source }}{% endblock %}
{% block branding %}<h1>{% trans "Quick Settings" %} {{ source }}</h1>{% endblock %}

{% block content %}

    <div class=conf_backup>
        {% if quick_settings_error %}
        <div class=error>
            {% trans "Quick Settings error" %}: {{ quick_settings_error }}
        </div>
        {% endif %}
        
        <form method="POST" action="">
        {% csrf_token %}
        <input type="submit" name="submit" value="{% trans "Save configuration" %}" id="submit">
        <a href="/">{% trans "Cancel" %}</a>
        <table>
        {{ quick_settings_form.as_table }}
        </table>
        </form>
    </div>
{% endblock content %}