{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/chlist.css" %}" />
{% endblock %}

{% block title %}{% trans "Initialize Backup System" %}{% endblock %}
{% block branding %}<h1>{% trans "Initialize Backup System" %}</h1>{% endblock %}

{% block content %}

    {% if init_error %}
    <div class=error>
        {% trans "Initialization error" %}: {{ init_error }}
    </div>
    {% endif %}
    
    {% trans "Backup configuration directory not found." %}

    <div>
    <form method="POST" action="">
    {% csrf_token %}
    <input type="submit" name="submit" value="{% trans "Initialize" %}" id="submit">
    </form>
    </div>

{% endblock content %}
