{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chlist.css'%}" />
{% endblock %}

{% block title %}{% trans "Create new job" %}{% endblock %}
{% block branding %}<h1>{% trans "Create new job" %}</h1>{% endblock %}

{% block content %}

    <div class=conf_backup>
        {% if new_backup_error %}
        <div class=error>
            {% trans "Create job failed" %}: {{ new_backup_error }}
        </div>
        {% endif %}
        
        {% if not source == "select folder or file" %}
            <form method="POST" action="">
            {% csrf_token %}
            <table>
            <tr><th>{% trans "Source path" %}:</th><td><a href="/filelist/{{ action_new }}/{{ source_enc }}/">{{ source }}</a></td></tr>
                {{ new_backup_form.as_table }}
            </table>
            <input type="submit" name="submit" value="{% trans "Save configuration" %}" id="submit">
            <a href="/">{% trans "Cancel" %}</a>
            </form>
        {% else %}
            <table>
            <tr><th>{% trans "Source path" %}:</th><td><a href="/filelist/{{ action_new }}/{{ source_enc }}/">{{ source }}</a></td></tr>
            </table>
            <p>
            <a href="/">{% trans "Cancel" %}</a>
            </p>
        {% endif %}
    </div>

{% endblock content %}
