{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extrastyle %}
    <meta http-equiv="refresh" content="3;url=http://www.google.com/" />
<link rel="stylesheet" type="text/css" href="{% static "css/chlist.css" %}" />
{% endblock %}

{% block title %}{% trans "Start job" %}{% endblock %}
{% block branding %}<h1>{% trans "Log" %} {{ type }} {% trans "for job" %} '{{ name }}' {% trans "for date" %} {{ date }}</h1>{% endblock %}

{% block content %}

    <a href="/">{% trans "Jobs List" %}</a>
    | <a href="/show/{{ name }}/">{% trans "Show Job" %} '<b>{{ name }}</b>'</a>
    <pre>
    {{ logstuff }}
    </pre>

{% endblock content %}
