{% extends "base.html" %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/media/css/chlist.css" />
{% endblock %}

{% block title %}{% trans "Configured backups in" %} {{ confhome }}{% endblock %}
{% block branding %}<h1>{% trans "Configured backups in" %} {{ confhome }}</h1>{% endblock %}

{% block content %}

    {% if herror %}
        {{ herror }}
    {% else %}

    <div class=buttons>
        <a href=/new/{{ path_new }}/ }}>{% trans "Configure new backup" %}</a>
        <a href=/edit_config/ }}>{% trans "Edit global config" %}</a>
    </div>
    <div class=conf_backups>
        <table>
            <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Source" %}</th>
            <th>{% trans "Description" %}</th>
            </tr>
            {% for b in bprofiles %}
            <tr>
                <td><a href="/show/{{ b.name }}/">{{ b.name }}</a></td>
                <td>{{ b.source }}</td>
                <td>{{ b.descr }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% endif %}
{% endblock content %}
